<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.airs"
      android:versionName="2.2.6.8" android:versionCode="108" android:sharedUserId="com.airs">
    <supports-screens android:normalScreens="true" android:resizeable="true" android:largeScreens="true" android:smallScreens="true" android:xlargeScreens="true" android:anyDensity="true"></supports-screens>
	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8"></uses-sdk>
    <uses-feature android:name="android.hardware.telephony" android:required="false" />
    <uses-feature android:name="android.hardware.telephony.gsm" android:required="false" />
    <uses-feature android:name="android.hardware.sensor.proximity" android:required="false" />
    
	<uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
    <uses-permission android:name="android.permission.READ_CALENDAR"></uses-permission>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
	<uses-permission android:name="android.permission.GET_TASKS"></uses-permission>
	<uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.VIBRATE"></uses-permission>
	<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
	<uses-permission android:name="android.permission.READ_SMS"></uses-permission>
	<uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>
	<uses-permission android:name="android.permission.BATTERY_STATS"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.RECORD_AUDIO"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>
 
	<application android:icon="@drawable/icon" android:label="@string/app_name">
	    <uses-library android:name="com.google.android.maps" />    
        <activity android:name="AIRS_tabs" 
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar" android:configChanges="orientation|keyboardHidden">
	          <intent-filter>
	              <action android:name="android.intent.action.MAIN" />
	              <category android:name="android.intent.category.LAUNCHER" />
	          </intent-filter>
        </activity>
     <service android:enabled="true" android:name="AIRS_local" android:exported="false" android:label="AIRS Local Sensing"/>
     <service android:enabled="true" android:name="AIRS_remote" android:exported="false" android:label="AIRS Remote Sensing"/>
     <activity android:name="AIRS_local_tab" android:exported="false" android:label="AIRS Local" android:configChanges="orientation|keyboardHidden"></activity>
     <activity android:name="AIRS_remote_tab" android:exported="false" android:label="AIRS Remote" android:configChanges="orientation|keyboardHidden"></activity>
     <activity android:name="Prefs" android:exported="false" android:label="AIRS Preferences"></activity>
     <activity android:theme="@android:style/Theme.Dialog" android:name="AIRS_sync" android:exported="true" android:label="AIRS Sync" android:configChanges="orientation|keyboardHidden"></activity>
     <activity android:theme="@android:style/Theme.Dialog" android:name="AIRS_backup" android:exported="true" android:label="AIRS Backup" android:configChanges="orientation|keyboardHidden"></activity>
     <activity android:theme="@android:style/Theme.Dialog" android:name="AIRS_restore" android:exported="true" android:label="AIRS Restore" android:configChanges="orientation|keyboardHidden"></activity>
     <activity android:name="AIRS_settings_tab" android:exported="false" android:label="AIRS Settings" android:configChanges="orientation|keyboardHidden"></activity>    
     <activity android:name="AIRS_web_tab" android:exported="false" android:label="Web" android:configChanges="orientation|keyboardHidden"></activity>
     
     <activity android:name="MapViewerActivity" android:exported="false" android:label="AIRS Mapview" android:configChanges="orientation|keyboardHidden"></activity>
     <activity android:theme="@android:style/Theme.Dialog" android:name="TimelineActivity" android:exported="false" android:label="AIRS Timeline"></activity>
     <activity android:theme="@android:style/Theme.Dialog" android:name="AIRS_measurements" android:exported="false" android:label="AIRS Local Sensing" android:configChanges="orientation|keyboardHidden"></activity>
     <activity android:theme="@android:style/Theme.Dialog" android:name="AIRS_remotevalues" android:exported="false" android:label="AIRS Remote Sensing" android:configChanges="orientation|keyboardHidden"></activity>
     <activity android:theme="@android:style/Theme.Dialog" android:name="AIRS_shortcut" android:exported="true" android:label="Quick AIRS"></activity>
     <activity android:theme="@android:style/Theme.Dialog" android:name="com.airs.handlers.MoodButton_selector" android:exported="false" android:label="AIRS Mood Selector"></activity>
     <activity android:theme="@android:style/Theme.Dialog" android:name="com.airs.handlers.EventButton_selector" android:exported="false" android:label="AIRS Event Selector"></activity>
     <receiver android:name="com.airs.handlers.EventButton_widget" android:label="AIRS Event Button">
         <meta-data android:name="android.appwidget.provider"
                 android:resource="@xml/airs_widgetprovider"/>
         <intent-filter>
             <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
         </intent-filter>
     </receiver>
     <receiver android:name="com.airs.handlers.MoodButton_widget" android:label="AIRS Mood Button">
         <meta-data android:name="android.appwidget.provider"
                 android:resource="@xml/airs_widgetprovider_mood"/>
         <intent-filter>
             <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
         </intent-filter>
     </receiver>
    </application>
</manifest> 