<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.airs"
      android:versionName="2.6.1.2" android:versionCode="161" android:sharedUserId="com.airs">
    <supports-screens android:normalScreens="true" android:resizeable="true" android:largeScreens="true" android:smallScreens="true" android:xlargeScreens="true" android:anyDensity="true"></supports-screens>
	<uses-sdk android:minSdkVersion="8" android:targetSdkVersion="8"></uses-sdk>
   
	<uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
    <uses-permission android:name="android.permission.READ_CALENDAR"></uses-permission>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
	<uses-permission android:name="android.permission.GET_TASKS"></uses-permission>
	<uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.VIBRATE"></uses-permission>
	<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
	<uses-permission android:name="android.permission.RECEIVE_SMS"></uses-permission>
	<uses-permission android:name="android.permission.READ_SMS"></uses-permission>
	<uses-permission android:name="android.permission.BLUETOOTH"></uses-permission>
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"></uses-permission>
	<uses-permission android:name="android.permission.BATTERY_STATS"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
	<uses-permission android:name="android.permission.RECORD_AUDIO"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>
	<uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"/>

	<uses-feature android:name="android.hardware.telephony" android:required="false" />
    <uses-feature android:name="android.hardware.telephony.gsm" android:required="false" />
    <uses-feature android:name="android.hardware.bluetooth" android:required="false" />
    <uses-feature android:name="android.hardware.wifi" android:required="false" />
    <uses-feature android:name="android.hardware.microphone" android:required="false" />
    <uses-feature android:name="android.hardware.sensor.proximity" android:required="false" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature android:name="android.hardware.camera.autofocus" android:required="false" />
    <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
    <uses-feature android:name="android.hardware.location.NETWORK" android:required="false" />
    <uses-feature android:name="android.hardware.location.GPS" android:required="false" />
    <uses-feature android:name="android.hardware.location" android:required="false" />
	
	<application android:icon="@drawable/icon" android:label="@string/app_name">
	    <uses-library android:name="com.google.android.maps" />    
        <activity android:name="AIRS_tabs" 
                  android:label="@string/app_name"
                  android:theme="@android:style/Theme.NoTitleBar" android:configChanges="orientation|keyboardHidden">
	          <intent-filter>
	              <action android:name="android.intent.action.MAIN" />
	              <category android:name="android.intent.category.LAUNCHER" />
	          </intent-filter>
        </activity>
     <service android:enabled="true" android:name="AIRS_local" android:exported="false" android:label="AIRS Local Sensing"/>
     <service android:enabled="true" android:name="AIRS_remote" android:exported="false" android:label="AIRS Remote Sensing"/>
     <service
        android:name=".handlers.NotificationHandlerService"
        android:label="@string/app_name"
        android:enabled="true"
        android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE" >
        <intent-filter>
            <action android:name="android.accessibilityservice.AccessibilityService" />
        </intent-filter>
        <meta-data
		    android:name="android.accessibilityservice"
		    android:resource="@xml/accessibilityservice" />
     </service>
     <activity android:name="AIRS_record_tab" android:exported="false" android:label="@string/tab_Record" android:configChanges="orientation|keyboardHidden"></activity>
     <activity android:name="AIRS_settings_tab" android:exported="false" android:label="@string/tab_Config" android:configChanges="orientation|keyboardHidden"></activity>    
     <activity android:name="AIRS_visualisation" android:exported="false" android:label="Storica" android:configChanges="orientation|keyboardHidden"></activity>    
     <activity android:name="AIRS_sensorselection" android:exported="false" android:label="@string/Sensor_Selection"></activity> 
     <activity android:name="Prefs" android:exported="false" android:label="@string/AIRS_Preferences"></activity>
     <activity android:name="AIRS_sync" android:exported="false" android:label="@string/main_Sync" android:configChanges="orientation|keyboardHidden"></activity>
     <activity android:theme="@android:style/Theme.Dialog" android:name="AIRS_configure_remote" android:exported="true" android:label="@string/Configure_AIRS" android:configChanges="orientation|keyboardHidden"></activity>
     <activity android:theme="@android:style/Theme.Dialog" android:name="AIRS_backup" android:exported="false" android:label="@string/Backup" android:configChanges="orientation|keyboardHidden"></activity>
     <activity android:theme="@android:style/Theme.Dialog" android:name="AIRS_restore" android:exported="false" android:label="@string/Restore" android:configChanges="orientation|keyboardHidden"></activity>
     <activity android:theme="@android:style/Theme.Dialog" android:name="AIRS_index" android:exported="false" android:label="@string/Index" android:configChanges="orientation|keyboardHidden"></activity>
     <activity android:theme="@android:style/Theme.Dialog" android:name="AIRS_DBAdmin" android:exported="false" android:label="@string/DB_Admin" android:configChanges="orientation|keyboardHidden"></activity>
     <activity android:name="AIRS_manual" android:exported="false" android:label="@string/Manual" android:configChanges="orientation|keyboardHidden"></activity>
     
     <activity android:name="MapViewerActivity" android:exported="false" android:label="@string/AIRS_Map" android:configChanges="orientation|keyboardHidden"></activity>
     <activity android:theme="@android:style/Theme.Dialog" android:name="TimelineActivity" android:exported="false" android:label="@string/AIRS_Timeline"></activity>
     <activity android:theme="@android:style/Theme.Dialog" android:name="AIRS_measurements" android:exported="false" android:label="@string/AIRS_Local_Sensing" android:configChanges="orientation|keyboardHidden"></activity>
     <activity android:theme="@android:style/Theme.Dialog" android:name="AIRS_remotevalues" android:exported="false" android:label="@string/AIRS_Remote_Sensing" android:configChanges="orientation|keyboardHidden"></activity>
     <activity android:theme="@android:style/Theme.Dialog" android:name="AIRS_shortcut" android:exported="true" android:label="Quick AIRS"></activity>
     <activity android:theme="@android:style/Theme" android:name="com.airs.handlers.MoodButton_selector" android:exported="false" android:label="@string/AIRS_Mood_Selector"  android:windowSoftInputMode="stateHidden|adjustResize"></activity>
     <activity android:theme="@android:style/Theme.Dialog" android:name="com.airs.handlers.MoodButton_iconselector" android:exported="false" android:label="@string/AIRS_Mood_Selector"  android:windowSoftInputMode="stateHidden|adjustResize"></activity>
     <activity android:theme="@android:style/Theme" android:name="com.airs.handlers.EventButton_selector" android:exported="false" android:label="@string/AIRS_Event_Selector" android:windowSoftInputMode="stateHidden|adjustResize"></activity>
     <activity android:theme="@android:style/Theme.Dialog" android:name="com.airs.handlers.BloodPressureButton_selector" android:exported="false" android:label="@string/AIRS_BloodPressure" android:configChanges="orientation|keyboardHidden" android:windowSoftInputMode="stateHidden|adjustResize"></activity>
     <activity android:theme="@android:style/Theme.Dialog" android:name="com.airs.handlerUIs.LocationHandlerAPs" android:exported="false" android:label="@string/AdaptiveGPS_Hitlist" android:configChanges="orientation|keyboardHidden"></activity>
     <receiver android:name="com.airs.handlers.BloodPressureButton_widget" android:label="@string/AIRS_BloodPressure">
         <meta-data android:name="android.appwidget.provider"
                 android:resource="@xml/airs_widgetprovider_heart"/>
         <intent-filter>
             <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
         </intent-filter>
     </receiver>
     <receiver android:name="com.airs.handlers.EventButton_widget" android:label="@string/AIRS_Event_Selector">
         <meta-data android:name="android.appwidget.provider"
                 android:resource="@xml/airs_widgetprovider"/>
         <intent-filter>
             <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
         </intent-filter>
     </receiver>
     <receiver android:name="com.airs.handlers.MoodButton_widget" android:label="@string/AIRS_Mood_Selector">
         <meta-data android:name="android.appwidget.provider"
                 android:resource="@xml/airs_widgetprovider_mood"/>
         <intent-filter>
             <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
         </intent-filter>
     </receiver>
     <activity android:name="com.airs.handlers.EventTextActivity" >
	    <intent-filter>
	        <action android:name="android.intent.action.SEND" />
	        <category android:name="android.intent.category.DEFAULT" />
	        <data android:mimeType="text/plain" />
	    </intent-filter>
	</activity>
    </application>
</manifest> 